input{
    width:35%;
    padding:0.5%;
    background-color: rgb(190, 253, 255);
}
label{
    margin-left: 5%;
}
.small{
    width: 15%;
    margin: 0 10% 0 2%;
}
.l{
    margin-left: 5%;
}
button{
    width:25%;
    padding: 0.5%;
    margin-left: 34%;
    background-color:green;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 10px;
}
h2{
    text-align: center;
    background-color: rgb(248, 221, 185);
    padding: 0.75%;
}